footer
	.footer-subscribed
		.container
			.desc
				p Đăng ký nhận bản tin để nhận được nhiều thông tin tư vấn và sản phẩm mới.
			.wrap-form
				.form-group
					input(type="text" placeholder="Họ và tên")
				.form-group
					input(type="text" placeholder="Số điện thoại")
				.form-group
					input(type="text" placeholder="Email")
				.form-group.frm-btnwrap
					.frm-btn
						input.btn.btn-default.frm-btn-submit(type='submit' name="" value='Gửi')
	.footer-content
		.container.footer-border
			.row
				.col-xl-12.p-0
					.footer-title
						h1 công ty tnhh hiệp hương
				.col-xl-9.col-lg-9
					.row
						-for(i=1; i<7; i++)
							.col-xl-4.col-lg-4.col-md-6.p-0
								.footer-card.border-none
									.card__title
										h2 plaza 1
									.card__body
										em.lnr.lnr-map-marker
										p.address KCN Thạch Trụ, Thạch Trụ Tây, Mộ Đức, Tỉnh Quảng Ngãi
				.col-xl-3.col-lg-3.right
					.footer-card
						.card__title
							h2 thông tin liên hệ
						.card__body
							ul 
								li 
									span 
										em.lnr.lnr-phone-handset
										p Điện thoại: (0255) 3719191 – 3825 262 – 3819 637 – 3716 470
								li
									span
										em.lnr.lnr-smartphone
										p Hotline : 0914 765 775
								li
									span
										em.lnr.lnr-printer
										p Fax: (0255) 3714 116
								li
									span
										em.lnr.lnr-envelope
										p Email: ctyhiephuongqn@gmail.com
	.footer-content
		.container.footer-border
			.row
				.col-xl-9.col-lg-9.col-md-12
					.row
						-for(i=1; i<4; i++)
							.col-xl-4.col-lg-4.col-md-4.p-0
								.footer-card
									.card__title
										a(href="") Giới thiệu
									.card__body
										ul
											li
												a(href="") Tổng quan
											li
												a(href="") Lịch sử hình thành
											li
												a(href="") Dịnh hướng phát triển
											li
												a(href="") Cơ cấu tổ chức
											li
												a(href="") Hệ thống văn bản
				.col-xl-3.col-lg-3.col-md-12.right
					.footer-card.copyright
						.card__title
							h2 kết nối
						.card__body.content
							ul.social
								li
									a(href="")
										i.fab.fa-facebook-square
								li
									a(href="")
										i.fab.fa-instagram
								li
									a(href="")
										i.fab.fa-youtube
							.scurity
								a(href="") Điều khoản sử dụng
								a(href="") Chính sách bảo mật
							.coppy
								a(href="") © 2020 Hiệp Hương
								a(href="") Thiết kế website bởi Cánh Cam