header.kv-header
	nav
		.kv-logo
			a(href="index.html")
				img(src="../assets/logo.png", alt="")
		//- .kv-toggle
		//- 	.hamburger-button
		//- 		span
		//- 		span
		//- 		span
		.kv-menu
			ul.nav-bar
				li.nav-item
					a.nav-link(href="") Giới thiệu
				li.nav-item
					a.nav-link(href="") Lĩnh vực hoạt động
				li.nav-item
					a.nav-link(href="") Sản phẩm
				li.nav-item
					a.nav-link(href="") Dự án
				li.nav-item
					a.nav-link(href="") Tin tức
				li.nav-item
					a.nav-link(href="") Tuyển dụng
				li.nav-item
					a.nav-link(href="") Liên hệ
		.kv-icon
			a.btn.btn-search(href="")
				em.material-icons search
			.language
				a(href="") EN
