header.kv-header
	nav
		.kv-logo
			a(href="index.html")
				img(src="../assets/logo.png", alt="")
		.kv-toggle
			.hamburger-button
				span
				span
				span
		.kv-icon
			a.btn.btn-search(href="")
				em.material-icons search
			.language
				a(href="") EN
