section.section.home-4
	.container
		.section-header
			.block-title
				h2 Hoạt động bệnh viện
			.box-btn
				a.btn.btn__viewmore(href="") Xem thêm
					.icon
						img(src="./assets/icons/doingu_ct.png", alt="")
	.content.border-top
		.container
			.row
				.col-xl-6.col-lg-6.big-img
					.item
						figure
							.img
								img(src="./assets/images/index/i-10.png", alt="")
							figcaption
								.date 17.06.2020
								.desc
									a(href="")
										h1 Bệnh viện Chợ Rẫy khen thưởng đột xuất các tập thể và cá nhân đạt thành tích tốt trong công tác phòng, chống dịch Covid-19
						a.btn.btn-detail(href="") Chi tiết
							em.material-icons arrow_right_alt
				.col-xl-6.col-lg-6
					.row
						.col-xl-6.col-lg-6.col-md-6.col-sm-6.small-img
							.item
								figure
									.img
										img(src="./assets/images/index/i-10.png", alt="")
									figcaption
										.date 17.06.2020
										.desc
											a(href="")
												h1 Bệnh viện Chợ Rẫy khen thưởng đột xuất các tập thể và cá nhân đạt thành tích tốt trong công tác phòng, chống dịch Covid-19
							.item
								figure
									.img
										img(src="./assets/images/index/i-10.png", alt="")
									figcaption
										.date 17.06.2020
										.desc
											a(href="")
												h1 Bệnh viện Chợ Rẫy khen thưởng đột xuất các tập thể và cá nhân đạt thành tích tốt trong công tác phòng, chống dịch Covid-19
						.col-xl-6.col-lg-6.col-md-6.col-sm-6
							.list-news
								.item
									.date 17.06.2020
									.desc
										a(href="")
											h1 Bệnh viện Chợ Rẫy khen thưởng đột xuất các tập thể và cá nhân đạt thành tích tốt trong công tác phòng, chống dịch Covid-19
								.item
									.date 17.06.2020
									.desc
										a(href="")
											h1 Bệnh viện Chợ Rẫy khen thưởng đột xuất các tập thể và cá nhân đạt thành tích tốt trong công tác phòng, chống dịch Covid-19
								.item
									.date 17.06.2020
									.desc
										a(href="")
											h1 Bệnh viện Chợ Rẫy khen thưởng đột xuất các tập thể và cá nhân đạt thành tích tốt trong công tác phòng, chống dịch Covid-19
								.item
									.date 17.06.2020
									.desc
										a(href="")
											h1 Bệnh viện Chợ Rẫy khen thưởng đột xuất các tập thể và cá nhân đạt thành tích tốt trong công tác phòng, chống dịch Covid-19
								.item
									.date 17.06.2020
									.desc
										a(href="")
											h1 Bệnh viện Chợ Rẫy khen thưởng đột xuất các tập thể và cá nhân đạt thành tích tốt trong công tác phòng, chống dịch Covid-19