section.section.home-5
	.container
		.slide-home-5
			.swiper-container
				.swiper-wrapper
					.swiper-slide
						.row
							.col-xl-6.col-lg-6.content
								.block-title
									h1 Thông báo chiêu sinh các lớp Vật lý trị liệu- Phục hồi chức năng, khai giảng 15/07/2020
								.desc
									p Bệnh viện Chợ Rẫy liên tục thực hiện kế hoạch công tác chỉ đạo tuyến về đào tạo lại, cập nhật kiến thức mới và nâng cao chất lượng chuyên môn cho bệnh viện tuyến dưới.
								a.btn.btn-detail(href="") Chi tiết
									em.material-icons arrow_right_alt
					.swiper-slide
						.row
							.col-xl-6.col-lg-6.content
								.block-title
									h1 Thông báo chiêu sinh các lớp Vật lý trị liệu- Phục hồi chức năng, khai giảng 15/07/2020
								.desc
									p Bệnh viện Chợ Rẫy liên tục thực hiện kế hoạch công tác chỉ đạo tuyến về đào tạo lại, cập nhật kiến thức mới và nâng cao chất lượng chuyên môn cho bệnh viện tuyến dưới.
								a.btn.btn-detail(href="") Chi tiết
									em.material-icons arrow_right_alt
					.swiper-slide
						.row
							.col-xl-6.col-lg-6.content
								.block-title
									h1 Thông báo chiêu sinh các lớp Vật lý trị liệu- Phục hồi chức năng, khai giảng 15/07/2020
								.desc
									p Bệnh viện Chợ Rẫy liên tục thực hiện kế hoạch công tác chỉ đạo tuyến về đào tạo lại, cập nhật kiến thức mới và nâng cao chất lượng chuyên môn cho bệnh viện tuyến dưới.
								a.btn.btn-detail(href="") Chi tiết
									em.material-icons arrow_right_alt
			.swiper-button-next
			.swiper-button-prev