section.section.home-6
	.container
		.section-header
			.block-title
				h2 Công tác xã hội
			.box-btn
				a.btn.btn__viewmore(href="") Xem thêm
					.icon
						img(src="./assets/icons/doingu_ct.png", alt="")
	.content.border-top
		.container
			.row
				.col-xl-3.col-lg-3.col-md-6.col-sm-6.small-img.border-right
					.item
						figure
							.img
								img(src="./assets/images/index/i-10.png", alt="")
							figcaption
								.date 17.06.2020
								.desc
									a(href="")
										h1 Bệnh viện Chợ Rẫy khen thưởng đột xuất các tập thể và cá nhân đạt thành tích tốt trong công tác phòng, chống dịch Covid-19
					.item
						figure
							.img
								img(src="./assets/images/index/i-10.png", alt="")
							figcaption
								.date 17.06.2020
								.desc
									a(href="")
										h1 Bệnh viện Chợ Rẫy khen thưởng đột xuất các tập thể và cá nhân đạt thành tích tốt trong công tác phòng, chống dịch Covid-19
				.col-xl-6.col-lg-6.big-img.border-right
					.item
						figure
							.img
								img(src="./assets/images/index/i-10.png", alt="")
							figcaption
								.date 17.06.2020
								.desc
									a(href="")
										h1 Bệnh viện Chợ Rẫy khen thưởng đột xuất các tập thể và cá nhân đạt thành tích tốt trong công tác phòng, chống dịch Covid-19
								a.btn.btn-detail(href="") Chi tiết
									em.material-icons arrow_right_alt
				.col-xl-3.col-lg-3.col-md-6.col-sm-6.small-img
					.item
						figure
							.img
								img(src="./assets/images/index/i-10.png", alt="")
							figcaption
								.date 17.06.2020
								.desc
									a(href="")
										h1 Bệnh viện Chợ Rẫy khen thưởng đột xuất các tập thể và cá nhân đạt thành tích tốt trong công tác phòng, chống dịch Covid-19
					.item
						figure
							.img
								img(src="./assets/images/index/i-10.png", alt="")
							figcaption
								.date 17.06.2020
								.desc
									a(href="")
										h1 Bệnh viện Chợ Rẫy khen thưởng đột xuất các tập thể và cá nhân đạt thành tích tốt trong công tác phòng, chống dịch Covid-19