.about-nav(data-aos="fade-down")
	.container
		.categroly
			.box-category
				p Danh mục
				em.material-icons expand_more
			ul
				li
					a.nav-link(href="#about-1") tổng quan
				li
					a.nav-link(href="#about-2") lịch sử phát triển
				li
					a.nav-link(href="#about-3") tầm nhìn - sứ mệnh
				li
					a.nav-link(href="#about-4") giá trị cốt lõi
				li
					a.nav-link(href="#about-5") chiến lược phát triển
				li
					a.nav-link(href="#about-6") đối tác - khách hàng
section.kv-section.about-1#about-1
	.container
		.kv-title.red
			p giới thiệu tổng quan
		.desc
			p Công ty TNHH Hiệp Hương là công ty chuyên cung cấp VLXD – Trang trí nội, ngoại thất tại thị trường miền Trung.

			p Công ty TNHH Hiệp Hương được thành lập từ năm 1993 đến nay, Hiệp Hương đã từng bước khẳng định chỗ đứng trên thị trường ngành VLXD – Trang trí nội ngoại thất tỉnh Quảng Ngãi, với đội ngũ nhân viên tận tụy, năng động và trung thực trong công việc để luôn luôn đáp ứng được nhu cầu ngày càng cao của khách hàng.
		.img-popup
			img(src="./assets/gioithieu/img-popup.png" alt="")
			.icon
				a(href="" data-fancybox data-src="https://www.youtube.com/watch?v=u8Lm5lItxEc")
					img(src="./assets/gioithieu/play.png" alt="")
section.kv-section.about-2#about-2
	.container
		.kv-title.red
			p Lịch sử phát triển
		.history-slide
			.thumbs
				.swiper-container.gallery-thumbs
					.swiper-wrapper
						.swiper-slide
							.item
								.desc 1993
						.swiper-slide
							.item
								.desc 2003
						.swiper-slide
							.item
								.desc 2013
						.swiper-slide
							.item
								.desc 2017
						.swiper-slide
							.item
								.desc 2018
						.swiper-slide
							.item
								.desc 2019
						.swiper-slide
							.item
								.desc 2020
				.swiper-button-next
				.swiper-button-prev
			.swiper-container.gallery-top
				.swiper-wrapper
					-for(i=1 ;i<8; i++)
						.swiper-slide
							.item.row
								.col-xl-7.col-lg-6
									.img
										img(src="./assets/gioithieu/history.png" alt="")
								.col-xl-5.col-lg-6
									.content
										p.title 1993
										.brief-content
											p Hệ thống phân phối tại thị trường miền Trung cùng  gần 500 cửa hàng đại lý luôn đồng hành, hợp tác với Hiệp Hương. Bên cạnh đó bổ sung toàn diện tất cả các sản phẩm trở thành nhà phân phối số 1 trong lĩnh vực ngành hàng vật liệu xây dựng, thiết bị vệ sinh, nhà bếp, vật liệu xây dựng trang trí nội ngoại thất đáp ứng cho những công trình đạt tiêu chuẩn quốc tế…
section.kv-section.about-3#about-3
	.container
		.kv-title.red
			p tầm nhìn - sứ mệnh
		.row
			.col-xl-6
				.item
					figure
						.img
							img(src="./assets/gioithieu/tn.png" alt="")
						.item-title
							.icon
								img(src="./assets/icons/tn.png" alt="")
							p.title tầm nhìn
						figcaption
							.icon
								img(src="./assets/icons/tn.png" alt="")
							p.title tầm nhìn
							.desc
								ul 
									li
										p Tái cơ cấu tổ chức, tìm kiếm các cá nhân giỏi các bộ môn nhằm xây dựng bộ khung ổn định và chuyên nghiệp.

									li 
										p Xây dựng chính sách đào tạo và bồi dưỡng, giữ chân những nhân viên giỏi nhằm ổn định tổ chức.

									li
										p Áp dụng các quy trình quản lý chất lượng dịch vụ nhằm kiểm soát chất lượng sản phẩm, chất lượng dịch vụ bán hàng, dịch vụ hậu mãi sau bán hàng đảm bảo uy tín công ty.

									li
										p Thiết lập quan hệ với các chủ đầu tư lớn để được tham gia các dự án lớn nhằm khẳng định vị thế của công ty trên thị trường.

									li 
										p Gia tăng doanh thu mỗi năm để ổn định sản lượng nhà cung cấp giá cạnh tranh nhất thị trường.
			.col-xl-6
				.item
					figure
						.img
							img(src="./assets/gioithieu/sm.png" alt="")
						.item-title
							.icon
								img(src="./assets/icons/sm.png" alt="")
							p.title Sứ mệnh
						figcaption
							.icon
								img(src="./assets/icons/sm.png" alt="")
							p.title sứ mệnh
							.desc
								ul 
									li
										p Tái cơ cấu tổ chức, tìm kiếm các cá nhân giỏi các bộ môn nhằm xây dựng bộ khung ổn định và chuyên nghiệp.

									li 
										p Xây dựng chính sách đào tạo và bồi dưỡng, giữ chân những nhân viên giỏi nhằm ổn định tổ chức.

									li
										p Áp dụng các quy trình quản lý chất lượng dịch vụ nhằm kiểm soát chất lượng sản phẩm, chất lượng dịch vụ bán hàng, dịch vụ hậu mãi sau bán hàng đảm bảo uy tín công ty.

									li
										p Thiết lập quan hệ với các chủ đầu tư lớn để được tham gia các dự án lớn nhằm khẳng định vị thế của công ty trên thị trường.

									li 
										p Gia tăng doanh thu mỗi năm để ổn định sản lượng nhà cung cấp giá cạnh tranh nhất thị trường.
section.kv-section.about-4#about-4
	.container
		.kv-title.red
			p giá trị cốt lõi
		.row
			.col-xl-3.col-sm-6
				.item
					figure
						.img
							img(src="./assets/icons/gt-1.png" alt="")
						figcaption
							.desc
								p Uy tín khách hàng và trung thành công ty
			.col-xl-3.col-sm-6
				.item
					figure
						.img
							img(src="./assets/icons/gt-2.png" alt="")
						figcaption
							.desc
								p Quan tâm khách hàng và hỗ trợ đồng nghiệp
			.col-xl-3.col-sm-6
				.item
					figure
						.img
							img(src="./assets/icons/gt-3.png" alt="")
						figcaption
							.desc
								p Tác phong công nghiệp và công việc hiệu quả
			.col-xl-3.col-sm-6
				.item
					figure
						.img
							img(src="./assets/icons/gt-4.png" alt="")
						figcaption
							.desc
								p Hợp tác lâu dài và phát triển bền vững
section.kv-section.about-5#about-5
	.container
		.row
			.col-xl-6
				.img
					img(src="./assets/gioithieu/chienluoc.png" alt="")
			.col-xl-6
				.content
					.kv-title.red
						p chiến lược phát triển
					.desc.lcl.lcl-5
						p Dựa trên những mong muốn và định hướng phát triển của Ban giám đốc, công ty đề ra những chiến lượt và mở rộng phát triển:

						p Mở rộng thị trường, phát triển mạng lưới khách hàng mới và khách hàng tiềm năng có liên quan đến dịch vụ tư vấn tại hai trung tâm trưng bày và hệ thống phân phối, công trình xây dựng.

						p Tăng cường công tác tiếp thị và quảng bá thương hiệu với mục tiêu dịch vụ tư vấn kiểm soát và nâng cao chất lượng dịch vụ tư vấn, dịch vụ khách hàng với mục tiêu đạt trên 95% khách hàng hài lòng chất lượng dịch vụ của sản phẩm Hiệp Hương cung cấp.
						p Hiệp Hương cam kết là nhà phân phối lớn, uy tín cung cấp sản phẩm chất lượng cao của thương hiệu nổi tiếng, đáp ứng nhu cầu sử dụng của khách hàng, phù hợp với xu thế phát triển của xã hội. Hiệp Hương cảm ơn quý khách hàng, đối tác đã tin tưởng đồng hành và tiếp sức cùng Hiệp Hương trong chặng đường vừa qua.
					a.btn.btn-pageLoad(href="") Xem thêm
						em.lnr.lnr-arrow-right
section.kv-section.about-6#about-6
	.container
		.row
			.col-xl-3.left
				.kv-title.red
					p đối tác đồng hành
				.desc
					p Hiệp Hương cam kết là nhà phân phối lớn, uy tín cung cấp sản phẩm chất lượng cao của thương hiệu nổi tiếng, đáp ứng nhu cầu sử dụng của khách hàng, phù hợp với xu thế phát triển của xã hội.
			.col-xl-9.pl-120.right
				.row
					-for(i=1; i<13; i++)
						.col
							.item
								.img
									img(src="./assets/gioithieu/dt-"+i+".png", alt="")
								span.span-1
								span.span-2