section.section.home-1#home-1
	.container
		.block-title
			h2 Tin tức nổi bật
	.content.border-top
		.container
			.slide-special
				.swiper-container.slide-block
					.swiper-wrapper
						-for(i=1; i<9; i++)
							.swiper-slide
								.item
									figure
										.img
											img(src="./assets/images/index/i-1.png", alt="")
										figcaption
											.date Thứ tư, 17/06/2020
											.desc
												a(href="")
													h1 Công bố Quyết định công nhận Ban chấp hành, Ban Thường vụ, Bí thư, Phó Bí thư Đảng Ủy, Ủy ban kiểm tra, Chủ nhiệm Ủy ban kiểm tra Đảng ủy khóa XV, nhiệm kỳ 2020 - 2025
											.categroly
												a(href="") HOẠT ĐỘNG BỆNH VIỆN
				.swiper-pagination
