section.section.home-2
	.container
		.section-header
			.block-title
				h2 Tin thông báo
			.new-nav
				ul.tabs
					li.active(rel="panel-1") Thông báo chung
					li(rel="panel-2") Thông báo chung
					li(rel="panel-3") Thông báo chung
	.content.border-top
		.container#panel-1.panel.active
			.row
				.col-xl-3.col-lg-3.col-md-6
					a(href="")
						.item
							.date Thứ năm, 18/06/2020
							.desc
								h1 Quyết định 4462/QĐ-BVCR về việc lựa chọn giá dịch vụ vận chuyển bệnh nhân theo yêu cầu bằng xe cứu thương
				.col-xl-3.col-lg-3.col-md-6
					a(href="")
						.item
							.date Thứ năm, 18/06/2020
							.desc
								h1 Quyết định 4462/QĐ-BVCR về việc lựa chọn giá dịch vụ vận chuyển bệnh nhân theo yêu cầu bằng xe cứu thương
				.col-xl-3.col-lg-3.col-md-6
					a(href="")
						.item
							.date Thứ năm, 18/06/2020
							.desc
								h1 Quyết định 4462/QĐ-BVCR về việc lựa chọn giá dịch vụ vận chuyển bệnh nhân theo yêu cầu bằng xe cứu thương
				.col-xl-3.col-lg-3.col-md-6
					a(href="")
						.item.border-0
							.date Thứ năm, 18/06/2020
							.desc
								h1 Quyết định 4462/QĐ-BVCR về việc lựa chọn giá dịch vụ vận chuyển bệnh nhân theo yêu cầu bằng xe cứu thương
		.container#panel-2.panel
			.row
				.col-xl-3.col-lg-3.col-md-6
					a(href="")
						.item
							.date Thứ năm, 18/06/2020
							.desc
								h1 Quyết định 4462/QĐ-BVCR về việc lựa chọn giá dịch vụ vận chuyển bệnh nhân theo yêu cầu bằng xe cứu thương
				.col-xl-3.col-lg-3.col-md-6
					a(href="")
						.item
							.date Thứ năm, 18/06/2020
							.desc
								h1 Quyết định 4462/QĐ-BVCR về việc lựa chọn giá dịch vụ vận chuyển bệnh nhân theo yêu cầu bằng xe cứu thương
				.col-xl-3.col-lg-3.col-md-6
					a(href="")
						.item
							.date Thứ năm, 18/06/2020
							.desc
								h1 Quyết định 4462/QĐ-BVCR về việc lựa chọn giá dịch vụ vận chuyển bệnh nhân theo yêu cầu bằng xe cứu thương
				.col-xl-3.col-lg-3.col-md-6
					a(href="")
						.item.border-0
							.date Thứ năm, 18/06/2020
							.desc
								h1 Quyết định 4462/QĐ-BVCR về việc lựa chọn giá dịch vụ vận chuyển bệnh nhân theo yêu cầu bằng xe cứu thương
		.container#panel-3.panel
			.row
				.col-xl-3.col-lg-3.col-md-6
					a(href="")
						.item
							.date Thứ năm, 18/06/2020
							.desc
								h1 Quyết định 4462/QĐ-BVCR về việc lựa chọn giá dịch vụ vận chuyển bệnh nhân theo yêu cầu bằng xe cứu thương
				.col-xl-3.col-lg-3.col-md-6
					a(href="")
						.item
							.date Thứ năm, 18/06/2020
							.desc
								h1 Quyết định 4462/QĐ-BVCR về việc lựa chọn giá dịch vụ vận chuyển bệnh nhân theo yêu cầu bằng xe cứu thương
				.col-xl-3.col-lg-3.col-md-6
					a(href="")
						.item
							.date Thứ năm, 18/06/2020
							.desc
								h1 Quyết định 4462/QĐ-BVCR về việc lựa chọn giá dịch vụ vận chuyển bệnh nhân theo yêu cầu bằng xe cứu thương
				.col-xl-3.col-lg-3.col-md-6
					a(href="")
						.item.border-0
							.date Thứ năm, 18/06/2020
							.desc
								h1 Quyết định 4462/QĐ-BVCR về việc lựa chọn giá dịch vụ vận chuyển bệnh nhân theo yêu cầu bằng xe cứu thương