section.section.home-3
	.container
		.slide-home
			.swiper-container
				.swiper-wrapper
					.swiper-slide
						figure
							.img
								img(src="./assets/images/index/i-6.png", alt="")
							figcaption
								p Sơ đồ
								p BV Chợ Rẫy
					.swiper-slide
						figure
							.img
								img(src="./assets/images/index/i-7.png", alt="")
							figcaption
								p Sơ đồ
								p BV Chợ Rẫy
					.swiper-slide
						figure
							.img
								img(src="./assets/images/index/i-8.png", alt="")
							figcaption
								p Sơ đồ 
								p BV Chợ Rẫy
					.swiper-slide
						figure
							.img
								img(src="./assets/images/index/i-9.png", alt="")
							figcaption
								p Sơ đồ
								p BV Chợ Rẫy
			.swiper-button-next
			.swiper-button-prev