section.kv-section.hr-detail
	.container
		.row
			.col-xl-9.col-lg-12.col-md-12.col-12
				.kv-title
					h1 Nhân viên trưởng phòng kinh doanh
				.timeline
					.icon-social
						ul
							li
								a(href="")
									em.fab.fa-facebook-square
							li
								a(href="")
									em.fab.fa-instagram
					.box-apply
						a.btn.btn__down(href="") Tải mẫu đơn ứng tuyển
						a.btn.btn__apply(href="") Nộp đơn ứng tuyển
				.full-content
					p Thông tin tuyển dụng nhanh
					table
						tbody
							tr
								td
									em.fa.fa-id-badge
									|Ngành nghề
								td Kinh doanh
							tr
								td
									em.fas.fa-dollar-sign
									|Lương
								td 
									span 8.000.000 - 12.000.000 VNĐ
							tr
								td
									img(src="./assets/icons/ht.png" alt="")
									| Hình thức công việc
								td Full time
							tr
								td
									em.material-icons person
									| Cấp bậc
								td Nhân viên
							tr
								td
									em.fa.fa-briefcase
									| Kinh nghiệm
								td Không cần
							tr
								td
									em.far.fa-calendar-times
									| Ngày hết hạn
								td(style="color: #ed1c24;") 28/06/2020
							tr
								td
									em.fa.fa-calendar
									| Ngày cập nhật
								td 15/05/2020
				.attribute
					p.title Mô tả công việc
					ul
						li
							p Lên kế hoạch tìm kiếm khách hàng qua các kênh khác nhau
						li
							p Báo cáo kết quả hàng tuần với ban lãnh đạo
						li
							p Thực hiện các công việc được giao
						li
							p Chăm sóc khách hàng cũ và thu thập thông tin khách hàng mới
						li
							p Kế hợp các phòng ban thực hiện các chiến dịch của công ty
				.attribute
					p.title Yêu cầu công việc
					ul
						li
							p Lên kế hoạch tìm kiếm khách hàng qua các kênh khác nhau
						li
							p Báo cáo kết quả hàng tuần với ban lãnh đạo
						li
							p Thực hiện các công việc được giao
						li
							p Chăm sóc khách hàng cũ và thu thập thông tin khách hàng mới
						li
							p Kế hợp các phòng ban thực hiện các chiến dịch của công ty
				.attribute
					p.title Yêu cầu công việc
					ul
						li
							p Lên kế hoạch tìm kiếm khách hàng qua các kênh khác nhau
						li
							p Báo cáo kết quả hàng tuần với ban lãnh đạo
						li
							p Thực hiện các công việc được giao
						li
							p Chăm sóc khách hàng cũ và thu thập thông tin khách hàng mới
						li
							p Kế hợp các phòng ban thực hiện các chiến dịch của công ty
				.attribute
					p.title Yêu cầu công việc
					ul
						li
							p Lên kế hoạch tìm kiếm khách hàng qua các kênh khác nhau
						li
							p Báo cáo kết quả hàng tuần với ban lãnh đạo
						li
							p Thực hiện các công việc được giao
						li
							p Chăm sóc khách hàng cũ và thu thập thông tin khách hàng mới
						li
							p Kế hợp các phòng ban thực hiện các chiến dịch của công ty
			.col-xl-3.col-lg-12.col-md-12.col-12
				.sidebar
					.sidebar-title
						p Thông tin liên hệ
						span Người liên hệ: Ms.  Loan
					ul 
						li 
							span.material-icons location_on
							span 
								p 
									strong Showroom: 
									|Số 18, Quang Trung, Tp. Quảng Ngãi.
								p 
									strong Plaza Hiệp Hương: 
									|Số 31 Quang Trung, Tp. Quảng Ngãi.
						li 
							span.material-icons call
							p 0914305775 – 0908626600
						li 
							span.material-icons mail
							p ctyhiephuongqn@gmail.com
				.sidebar
					.sidebar-title
						p công việc tương tự
					ul.list
						-for(i=1; i<6; i++)
							li
								a(href="chi-tiet-tuyen-dung.html")
									h1 Phó phòng kinh doanh
									p Nơi làm việc: TP. Hồ Chí Minh
									span Hạn nộp hồ sơ: 28/ 06/ 2020
