extends ../_components/_layout/_layout.pug

block var
	- let title = 'Gioi thieu';
block banner,breadcrumb
block main
	include ../_components/banner/pages-banner.pug
	include ../_components/_layout/_breadcrumb.pug
	include ../_components/gioi-thieu/gioi-thieu.pug
block scripts
