extends ../_components/_layout/_layout.pug

block var
	- let title = 'Du an';
block banner,breadcrumb
block main
	include ../_components/banner/pages-banner.pug
	include ../_components/_layout/_breadcrumb.pug
	include ../_components/tin-tuc/hinh-anh.pug
block scripts
