section.kv-section.lienhe
	.container
		.kv-title.red
			p liên hệ
		.row
			.col-xl-3.col-lg-6.col-md-6
				.kv-item
					.item-header
						em.lnr.lnr-phone-handset
					.item-body
						.item-title
							p điện thoại
						.item-content
							.desc
								p (0255) 3719191 – 3825 262 – 3819 637 – 3716 470

			.col-xl-3.col-lg-6.col-md-6
				.kv-item
					.item-header
						em.lnr.lnr-smartphone
					.item-body
						.item-title
							p hotline
						.item-content
							.desc
								p 0914 765 775
								p (0255) 3714 116
			.col-xl-3.col-lg-6.col-md-6
				.kv-item
					.item-header
						em.lnr.lnr-envelope
					.item-body
						.item-title
							p email
						.item-content
							.desc
								p ctyhiephuongqn@gmail.com
			.col-xl-3.col-lg-6.col-md-6
				.kv-item
					.fb-page(data-href='https://www.facebook.com/HIEPHUONGPLAZA/' data-tabs='' data-width='500' data-height='' data-small-header='false' data-adapt-container-width='true' data-hide-cover='false' data-show-facepile='true')
						blockquote.fb-xfbml-parse-ignore(cite='https://www.facebook.com/HIEPHUONGPLAZA/')
							a(href='https://www.facebook.com/HIEPHUONGPLAZA/') HIỆP HƯƠNG
section.kv-section.kv-map
	.container
		.row
			.col-xl-4.col-lg-5.col-md-6
				.kv-list
					ul
						li.active(data-href="")
							.title
								h1 plaza 1
							.address
								em.lnr.lnr-map-marker
								span 18 Quang Trung – TP. Quảng Ngãi
						li(data-href="")
							.title
								h1 plaza 2
							.address
								em.lnr.lnr-map-marker
								span 18 Quang Trung – TP. Quảng Ngãi
						li(data-href="")
							.title
								h1 văn phòng
							.address
								em.lnr.lnr-map-marker
								span 18 Quang Trung – TP. Quảng Ngãi
						li(data-href="")
							.title
								h1 kho tổng 1
							.address
								em.lnr.lnr-map-marker
								span 18 Quang Trung – TP. Quảng Ngãi
						li(data-href="")
							.title
								h1 kho tổng 2
							.address
								em.lnr.lnr-map-marker
								span 18 Quang Trung – TP. Quảng Ngãi
						li(data-href="")
							.title
								h1 kho tổng 3
							.address
								em.lnr.lnr-map-marker
								span 18 Quang Trung – TP. Quảng Ngãi
			.col-xl-8.col-lg-7.col-md-6
				.map
					iframe(src='https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3851.474619979197!2d108.79926191535506!3d15.132257367881795!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3169ad368319c449%3A0x92cea29a835b0651!2zMTggUXVhbmcgVHJ1bmcsIEzDqiBI4buTbmcgUGhvbmcsIFF14bqjbmcgTmfDo2ksIFZp4buHdCBOYW0!5e0!3m2!1svi!2s!4v1601880896587!5m2!1svi!2s' frameborder='0' style='border:0;' allowfullscreen='' aria-hidden='false' tabindex='0')
section.kv-section.form-contact
	.container
		.kv-title.red
			p liên hệ
		.wrap-form
			.form-row
				.form-group.col
					input(type="text" placeholder="Họ và tên")
				.form-group.col
					input(type="text" placeholder="Email")
			.form-row
				.form-group.col
					input(type="text" placeholder="Điện thoại")
				.form-group.col
					input(type="text" placeholder="Tiêu đề")
			.form-group
				textarea(name="", cols="30", rows="10" placeholder="Nội dung")
			.form-group.frm-btnwrap
				.frm-btn
					input.btn.btn-default.frm-btn-submit(type='submit' name="" value='Gửi')

