section.section.home-10
	.container
		.block-title
			h2 Website liên kết
		.list-logo.row
			.col
				.img
					img(src="./assets/images/index/i-32.png", alt="")
			.col
				.img
					img(src="./assets/images/index/i-33.png", alt="")
			.col
				.img
					img(src="./assets/images/index/i-34.png", alt="")
			.col
				.img
					img(src="./assets/images/index/i-32.png", alt="")
			.col
				.img
					img(src="./assets/images/index/i-33.png", alt="")
			.col
				.img
					img(src="./assets/images/index/i-34.png", alt="")
			.col
				.img
					img(src="./assets/images/index/i-33.png", alt="")
			.col
				.img
					img(src="./assets/images/index/i-34.png", alt="")