section.section.home-7
	.container
		.block-title
			h2 Giới thiệu
			h3 Bệnh viện Chợ Rẫy là bệnh viện hạng Đặc biệt trực thuộc Bộ Y tế, đảm nhiệm chức năng khám chữa bệnh, đào tạo và nghiên cứu khoa học.
			p Bên cạnh đó, Chợ Rẫy là bệnh viện tuyến cuối cho cả khu vực phía Nam. Hiểu được vinh dự, trọng trách của mình, tập thể Đảng ủy, Ban Giám đốc cùng toàn thể nhân viên bệnh viện Chợ Rẫy đã không ngừng phấn đấu rèn luyện chuyên môn, nâng cao chất lượng phục vụ nhằm đem đến cho cộng đồng một dịch vụ chăm sóc sức khỏe chất lượng cao, ngang tầm với các nước trong khu vực.
		.number
			ul.row.no-gutters
				li.col
					p.counter(data-count="21") 120
					p Năm hình thành và phát triển
				li.col
					p.counter(data-count="03") 4.000
					p Bác sĩ và nhân viên y tế
				li.col
					p.counter(data-count="05") 8.850
					p Số bệnh nhân nội, ngoại trú,
					p cấp cứu hàng ngày
				li.col
					p.counter(data-count="02") 45.000
					p Ca phẫu thuật hàng năm
					p (62% phẫu thuật loại 1 và đặc biệt)