section.section.home-8
	.container
		.block-title
			h2 Các trung tâm
		.row
			.col-xl-4.col-lg-4.col-md-12
				.big-img
					figure
						.img
							img(src="./assets/images/index/i-19.png" alt="")
						figcaption
							.desc
								p Trung tâm khu vực về thông tin thuốc và theo dõi phản ứng có hại của thuốc tại TP.HCM
			.col-xl-8.col-lg-8.col-md-12
				.row
					.col-xl-6.col-lg-6.col-md-6.col-sm-6.small-img
						figure
							.img
								img(src="./assets/images/index/i-20.png" alt="")
							figcaption
								.desc
									p Trung tâm truyền máu khu vực phía Nam
					.col-xl-6.col-lg-6.col-md-6.col-sm-6.small-img
						figure
							.img
								img(src="./assets/images/index/i-20.png" alt="")
							figcaption
								.desc
									p TTrung tâm truyền máu khu vực phía Nam
					.col-xl-6.col-lg-6.col-md-6.col-sm-6.small-img
						figure
							.img
								img(src="./assets/images/index/i-20.png" alt="")
							figcaption
								.desc
									p Trung tâm truyền máu khu vực phía Nam
					.col-xl-6.col-lg-6.col-md-6.col-sm-6.small-img
						figure
							.img
								img(src="./assets/images/index/i-20.png" alt="")
							figcaption
								.desc
									p Trung tâm truyền máu khu vực phía Nam
