section.section.home-9
	.block-top
		.container
			.section-header
				.block-title
					h2 Công tác xã hội
				.box-btn
					a.btn.btn__viewmore(href="") Xem thêm
						.icon
							img(src="./assets/icons/doingu_ct.png", alt="")
		.content.border-top
			.container
				#top
					.swiper-container
						.swiper-wrapper
							.swiper-slide
								figure
									.img
										img(src="./assets/images/index/i-24.png", alt="")
									figcaption
										.date Thứ tư, 17/06/2020
										.desc
											a(href="")
												h1 Hội nghị Trung tâm Tim mạch bệnh viện Chợ Rẫy lần 1
							.swiper-slide
								figure
									.img
										img(src="./assets/images/index/i-25.png", alt="")
									figcaption
										.date Thứ tư, 17/06/2020
										.desc
											a(href="")
												h1 Hội nghị Trung tâm Tim mạch bệnh viện Chợ Rẫy lần 1
							.swiper-slide
								figure
									.img
										img(src="./assets/images/index/i-26.png", alt="")
									figcaption
										.date Thứ tư, 17/06/2020
										.desc
											a(href="")
												h1 Hội nghị Trung tâm Tim mạch bệnh viện Chợ Rẫy lần 1
							.swiper-slide
								figure
									.img
										img(src="./assets/images/index/i-27.png", alt="")
									figcaption
										.date Thứ tư, 17/06/2020
										.desc
											a(href="")
												h1 Hội nghị Trung tâm Tim mạch bệnh viện Chợ Rẫy lần 1
					.swiper-button-next
					.swiper-button-prev
	.block-bottom.section
		.container
			.section-header
				.block-title
					h2 Công tác xã hội
				.box-btn
					a.btn.btn__viewmore(href="") Xem thêm
						.icon
							img(src="./assets/icons/doingu_ct.png", alt="")
		.content.border-top
			.container
				#bottom
					.swiper-container
						.swiper-wrapper
							.swiper-slide
								figure
									.img
										img(src="./assets/images/index/i-24.png", alt="")
									figcaption
										.date Thứ tư, 17/06/2020
										.desc
											a(href="")
												h1 Hội nghị Trung tâm Tim mạch bệnh viện Chợ Rẫy lần 1
							.swiper-slide
								figure
									.img
										img(src="./assets/images/index/i-25.png", alt="")
									figcaption
										.date Thứ tư, 17/06/2020
										.desc
											a(href="")
												h1 Hội nghị Trung tâm Tim mạch bệnh viện Chợ Rẫy lần 1
							.swiper-slide
								figure
									.img
										img(src="./assets/images/index/i-26.png", alt="")
									figcaption
										.date Thứ tư, 17/06/2020
										.desc
											a(href="")
												h1 Hội nghị Trung tâm Tim mạch bệnh viện Chợ Rẫy lần 1
							.swiper-slide
								figure
									.img
										img(src="./assets/images/index/i-27.png", alt="")
									figcaption
										.date Thứ tư, 17/06/2020
										.desc
											a(href="")
												h1 Hội nghị Trung tâm Tim mạch bệnh viện Chợ Rẫy lần 1
					.swiper-button-next
					.swiper-button-prev