section.kv-banner#home-banner
	.swiper-container.kv-banner__slide
		.swiper-wrapper
			.swiper-slide
				.swiper-inner
					img(src="./assets/banner/b-1.png", alt="")
				.content
					p Hiệp Hương - Làm đẹp
					p chính ngôi nhà bạn
					a.btn.btn-more(href="") tìm hiểu thêm
			.swiper-slide
				.swiper-inner
					img(src="./assets/banner/b-2.png", alt="")
				.content
					p Hiệp Hương - Làm đẹp
					p chính ngôi nhà bạn
					a.btn.btn-more(href="") tìm hiểu thêm
			.swiper-slide
				.swiper-inner
					img(src="./assets/banner/b-3.png", alt="")
				.content
					p Hiệp Hương - Làm đẹp
					p chính ngôi nhà bạn
					a.btn.btn-more(href="") tìm hiểu thêm
		a.crolldown(href="#home-1")
			span.ri-arrow-down-line