section.kv-section.news-detail
	.container
		.row
			.col-xl-9.col-lg-12
				.kv-title
					h1 Trải nghiệm dịch vụ bán hàng uy tín, chất lượng tại Hiệp Hương
				.timeline
					.date 07.08.2020
					.icon-social
						ul
							li
								a(href="")
									em.fab.fa-facebook-square
							li
								a(href="")
									em.fab.fa-instagram
				.content
					p Khẳng định uy tín là một trong những nhà phân phối cung cấp thiết bị vệ sinh, gạch ốp lát… hàng đầu Quảng Ngãi, Hiệp Hương hiện là thương hiệu doanh nghiệp đi đầu trong chiến lược làm hài lòng khách hàng với các sản phẩm thương hiệu nổi tiếng. Đặc biệt nổi bật với dịch vụ bán hàng uy tín và các giải pháp chăm sóc khách hàng toàn diện.
					p 
						img(src="./assets/news/nct-1.png", alt="")
					p
						strong Dịch vụ bán hàng uy tín, quy trình dịch vụ chuyên nghiệp
					p Cung cấp hàng chính hãng, nói không với hàng giả: Hiệp Hương cung cấp những sản phẩm chất lượng tốt nhất, chính hãng đến từ các thương hiệu hàng đầu trong nước và thế giới như:  VIGLACERA, INAX, KIM PHONG , PRIME,  BẠCH MÃ… với chế độ bảo hành chính hãng uy tín và lâu dài.

					p Tối ưu lợi ích cho khách hàng: Hiệp Hương mang lại cho khách hàng mức giá phù hợp nhất, tiết kiệm tối đa chi phí. Đồng thời với nhiều ưu đãi và chương trình khuyến mại thường xuyên được triển khai, Hiệp Hương chắc chắn sẽ mang đến cho quý khách hàng những giải pháp tối ưu hóa ngân sách hiệu quả nhất.

					p Quy trình dịch vụ toàn diện: Chỉ cần khách hàng nhấn nút chọn mua hàng trên Website, Hiệp Hương sẽ nhanh chóng gọi điện trực tiếp để tư vấn cũng như phục vụ vận chuyển, lắp đặt nhanh chóng. Những khách hàng chọn mua sản phẩm trực tiếp tại Showroom Hiệp Hương sẽ được tư vấn sản phẩm, mẫu mã phù hợp cũng như cung cấp đầy đủ thông tin về các dịch vụ hỗ trợ, ưu đãi khách hàng.
					img(src="./assets/news/nct-2.png" alt="").img
					p
						strong Dịch vụ bán hàng uy tín, quy trình dịch vụ chuyên nghiệp
					p Miễn phí vận chuyển nội thành Quảng Ngãi: Hiệp Hương cung cấp dịch vụ vận chuyển linh hoạt, giao hàng an toàn, áp dụng chính sách cụ thể với từng mặt hàng khác nhau. Khi mua hàng tại Hiệp Hương quý khách được cung cấp chính sách giao nhận lắp đặt linh hoạt tùy theo sản phẩm.

					p Đổi trả hàng đảm bảo quyền lợi cho khách hàng: Khách hàng có thể được đổi trả hàng lên đến 30 ngày đổi trả khi phát hiện các lỗi: Hàng hóa không đúng chủng loại, mẫu mã, thông số kỹ thuật như đơn đặt hàng… theo quy định đổi trả linh hoạt và đảm bảo quyền lợi cao nhất cho mọi khách hàng.
					img(src="./assets/news/nct-3.png" alt="").img
					p Thanh toán linh hoạt: Hiệp Hương chấp nhận các hình thức thanh toán linh hoạt bao gồm: Tiền mặt và qua chuyển khoản ngân hàng. Với chính sách thanh toán thuận tiện, linh hoạt tại Hiệp Hương, khách hàng không cần mất nhiều thời gian, công sức.
			.col-lg-12.col-xl-3
				ul.tintuc-sidebar
					.title-sidebar
						| Tin tức khác
					.row
						li.col-xl-12.col-md-6
							a(href="")
								.img
									img(src="./assets/news/nct-4.png" alt="")
								.tintuc-text
									.date 17.06.2020
									h1.text Hiệp Hương khẳng định uy tín của nhà phân phối hàng đầu Quảng Ngãi
						li.col-xl-12.col-md-6
							a(href="") 
								.img
									img(src="./assets/news/nct-5.png" alt="")
								.tintuc-text
									.date 17.06.2020
									h1.text Hiệp Hương khẳng định uy tín của nhà phân phối hàng đầu Quảng Ngãi
						li.col-xl-12.col-md-6
							a(href="") 
								.img
									img(src="./assets/news/nct-6.png" alt="")
								.tintuc-text
									.date 17.06.2020
									h1.text Hiệp Hương khẳng định uy tín của nhà phân phối hàng đầu Quảng Ngãi
						li.col-xl-12.col-md-6
							a(href="") 
								.img
									img(src="./assets/news/nct-7.png" alt="")
								.tintuc-text
									.date 17.06.2020
									h1.text Hiệp Hương khẳng định uy tín của nhà phân phối hàng đầu Quảng Ngãi
						li.col-xl-12.col-md-6
							a(href="") 
								.img
									img(src="./assets/news/nct-8.png" alt="")
								.tintuc-text
									.date 17.06.2020
									h1.text Hiệp Hương khẳng định uy tín của nhà phân phối hàng đầu Quảng Ngãi
