<?xml version="1.0" encoding="utf-8" ?>
<settings>
  <position>
    <add name="Menu chính" value="1" resourcefile=""/>
    <add name="Danh mục tin tức" value="4" resourcefile=""/>
    <add name="Danh mục giới thiệu" value="8" resourcefile=""/>
    <add name="Menu footer 1" value="2" resourcefile=""/>
    <add name="Menu footer 2" value="16" resourcefile=""/>
    <add name="Menu footer 3" value="32" resourcefile=""/>
  </position>
</settings>