section.kv-section.home-1#home-1
	.img-popup
		a(href="" data-fancybox data-src="https://www.youtube.com/watch?v=u8Lm5lItxEc")
			img(src="./assets/gioithieu/img-popup.png" alt="")
			.icon
				img(src="./assets/gioithieu/play.png" alt="")