section.kv-section.home-2
	.container
		.kv-title.red
			p sản phẩm
		.pro-item
			.row
				.col-xl-7.col-md-12.left
					.img
						img(src="./assets/index/sp-1.png", alt="")
				.col-xl-5.col-md-12.right
					.content
						h1.title thiết bị vệ sinh
						.desc.lcl.lcl-3
							p Hiệp Hương cung cấp thiết bị vệ sinh cao cấp trong và ngoài nước như: Grohe, hansgrohe, Inax, TOTO, American Standard, Viglacera..
						.pro-slide.single-swiper
							.swiper-container.product
								.swiper-wrapper
									-for(i=1; i<13; i++)
										.swiper-slide
											.img
												img(src="./assets/gioithieu/dt-"+i+".png", alt="")
							.swiper-button-next
							.swiper-button-prev
						a.view-more(href="") Xem thêm
							em.lnr.lnr-arrow-right
		.pro-item
			.row
				.col-xl-7.col-md-12.left
					.img
						img(src="./assets/index/sp-1.png", alt="")
				.col-xl-5.col-md-12.right
					.content
						h1.title thiết bị vệ sinh
						.desc.lcl.lcl-3
							p Hiệp Hương cung cấp thiết bị vệ sinh cao cấp trong và ngoài nước như: Grohe, hansgrohe, Inax, TOTO, American Standard, Viglacera..
						.pro-slide.single-swiper
							.swiper-container.product
								.swiper-wrapper
									-for(i=1; i<13; i++)
										.swiper-slide
											.img
												img(src="./assets/gioithieu/dt-"+i+".png", alt="")
							.swiper-button-next
							.swiper-button-prev
						a.view-more(href="") Xem thêm
							em.lnr.lnr-arrow-right
		.pro-item
			.row
				.col-xl-7.col-md-12.left
					.img
						img(src="./assets/index/sp-1.png", alt="")
				.col-xl-5.col-md-12.right
					.content
						h1.title thiết bị vệ sinh
						.desc.lcl.lcl-3
							p Hiệp Hương cung cấp thiết bị vệ sinh cao cấp trong và ngoài nước như: Grohe, hansgrohe, Inax, TOTO, American Standard, Viglacera..
						.pro-slide.single-swiper
							.swiper-container.product
								.swiper-wrapper
									-for(i=1; i<13; i++)
										.swiper-slide
											.img
												img(src="./assets/gioithieu/dt-"+i+".png", alt="")
							.swiper-button-next
							.swiper-button-prev
						a.view-more(href="") Xem thêm
							em.lnr.lnr-arrow-right
		.pro-item
			.row
				.col-xl-7.col-md-12.left
					.img
						img(src="./assets/index/sp-1.png", alt="")
				.col-xl-5.col-md-12.right
					.content
						h1.title thiết bị vệ sinh
						.desc.lcl.lcl-3
							p Hiệp Hương cung cấp thiết bị vệ sinh cao cấp trong và ngoài nước như: Grohe, hansgrohe, Inax, TOTO, American Standard, Viglacera..
						.pro-slide
							.swiper-container.product
								.swiper-wrapper
									-for(i=1; i<13; i++)
										.swiper-slide
											.img
												img(src="./assets/gioithieu/dt-"+i+".png", alt="")
							.swiper-button-next
							.swiper-button-prev
						a.view-more(href="") Xem thêm
							em.lnr.lnr-arrow-right
		.pro-item
			.row
				.col-xl-7.col-md-12.left
					.img
						img(src="./assets/index/sp-1.png", alt="")
				.col-xl-5.col-md-12.right
					.content
						h1.title thiết bị vệ sinh
						.desc.lcl.lcl-3
							p Hiệp Hương cung cấp thiết bị vệ sinh cao cấp trong và ngoài nước như: Grohe, hansgrohe, Inax, TOTO, American Standard, Viglacera..
						.pro-slide
							.swiper-container.product
								.swiper-wrapper
									-for(i=1; i<13; i++)
										.swiper-slide
											.img
												img(src="./assets/gioithieu/dt-"+i+".png", alt="")
							.swiper-button-next
							.swiper-button-prev
						a.view-more(href="") Xem thêm
							em.lnr.lnr-arrow-right
